/* My Optional Modules Stylesheet 
	(since version 4.0.5) */
	.MOMSettings *:after,
	.MOMSettings *:before,
	.MOMSettings * {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;	
	}
	.MOMSettings:after {
		clear: both; 
		content: ""; 
		display: table;
	}
	.MOMSettings {
		background-color: #fff;
		clear: both;
		display: block; 
		padding: 5px; 
		margin: 10px 0 25px; 
		width: 98%; 
	}
	.MOMSettings .setting:after {
		clear: both; 
		content: ""; 
		display: table;
	}
	hr {
		clear: both; 
		display: block;
		margin: 20px 0 10px;
		width: 100%; 	
	}
	.MOMSettings .full .small{
		background-color: rgba(47,51,53,.7);
		border: 1px solid rgba(47,51,53,.9);
		color: #fff;
		float: left;
		margin: 5px;
		padding: 30px 5px 5px;
		position: relative;
		width: 200px;
	}
		.MOMSettings .full .small form label{
			clear: both;
			display: block;
			margin: 2px 0;
			padding: 5px 2px;
			text-align: left;
			width: 100%;
		}
		.MOMSettings .full .small form label:hover{
			background-color: rgba(47,51,53,.9);
		}
		.MOMSettings .small i {
			margin-right: 10px;
		}
	.MOMSettings .warning {
		background-color: #fff6f6;
		border: 1px solid rgba(77,9,9,.1);
		clear: both;
		font-size: 150%;
		height: 100%;
		left: 0;
		line-height: 150%;
		overflow: hidden;
		padding: 5px;
		position: absolute;
		text-align: center;
		top: 0;
		width: 100%;
		z-index: 2;
	}
		.MOMSettings .warning i {
			clear: both;
			color: rgba(0,0,0,.1);
			display: block;
			font-size: 1000%;
			left: 0;
			opacity: .5;
			padding: 20px;
			position: absolute; 
			text-align: center;
			top: 0;
			width: 100%; 
		}
		.MOMSettings .warning form,
		.MOMSettings .warning label {
			display: block; 
			height: 100%; 
			padding: 55px 30px 0;
			width: 100%;
		}
	.MOMSettings .full,
	.MOMSettings .MOM_form {
		clear: both;
		margin: 0;
		position: relative;
		width: 96%;
	}
		.MOMSettings .full div section {
			display: block; 
			padding: 5px; 
			height: 173px; 
			background-color: #fff;
			color: #000;
			overflow-y:auto;
			margin: 5px;
		}
		.MOMSettings .MOM_form .clear {
			clear: both;
		}
		.MOMSettings .MOM_form section{
			clear: both;
			display: block;
			text-align: left;
			width: 100%;
		}
		.MOMSettings .MOM_form input[type="submit"]{
			float: left;
			display: block;
			margin: 5px;
			padding: 0;
			width: 120px;
		}
		.MOMSettings .MOM_form .left-section {
			float: left;
			width: 200px;
		}
			.MOMSettings .MOM_form .left-section div{
				background-color: rgba(47,51,53,.7);
				border: 1px solid rgba(47,51,53,.9);
				color: #fff;
				margin: 5px;
				padding: 30px 5px 5px;
				position: relative;
				width: 200px;
			}
			.MOMSettings .fullwidth strong,
			.MOMSettings .full .right-section strong,
			.MOMSettings .full .small strong,
			.MOMSettings .MOM_form .left-section strong {
				background-color: #bec9cf;
				color: rgba(47,51,53,.7);
				left: 0;
				padding: 5px;
				position: absolute; 
				top: 0;
				width: 100%;
			}
		.MOMSettings .full .right-section,
		.MOMSettings .MOM_form .right-section {
			float: right; 
			width: 430px;
		}
			.MOMSettings .MOM_form .right-section label {
				display: inline;
				padding: 5px 10px;
			}
			.MOMSettings .right-section div,
			.MOMSettings .MOM_form .right-section div{
				background-color: rgba(47,51,53,.7);
				border: 1px solid rgba(47,51,53,.9);
				color: #fff;
				margin: 5px;
				overflow-y: auto;
				overflow-x: hidden;
				padding: 30px 5px 5px 0;
				position: relative;
				width: 100%;
			}
			.MOMSettings .MOM_form .right-section strong {
				background-color: #bec9cf;
				color: rgba(47,51,53,.7);
				left: 0;
				padding: 5px;
				position: absolute; 
				top: 0;
				width: 100%;
			}	
	
	.MOMSettings .fullwidth {
		background-color: rgba(47,51,53,.7);
		border: 1px solid rgba(47,51,53,.9);
		color: #fff;
		clear: both;
		float: none;
		margin: 5px;
		padding: 30px 5px 5px;
		position: relative;
		width: 100%;
	}
	
	.MOMSettings .settings-section {
		clear: both;
		display: block; 
		margin: 15px;
		width: 690px;
		overflow-y: auto;
		padding: 50px 10px; 
		position: relative;
	}

		.MOMSettings .settings-section input[type="text"].full,
		.MOMSettings .settings-section select {
			width: 98%;
			margin: 5px 10px;
		}

	
		.MOMSettings .settings-section form textarea {
			float: right; 
			width: 50%;
			height: 150px;
		}
		.MOMSettings .settings-section form input[type="text"] {
			float: right; 
			width: 50%;
		}