/* My Optional Modules Stylesheet 
	(since version 4.0.5) */
	
	.MOMSettings:after {
		clear: both; 
		content: ""; 
		display: table;
	}
	.MOMSettings {
		background-color: #fff;
		border: 1px solid rgba(0,0,0,.1);
		clear: both;
		display: block; 
		padding: 5px; 
		margin: 10px 0; 
		width: 690px; 
	}
		.MOMSettings .right .list{ 
			border: 1px solid rgba(0,0,0,.1);
			clear: both; 
			height: 140px;
			overflow-y: auto;
			overflow-x: hidden;
			display: block;
			padding: 5px;
			width: 98%;
		}
		.MOMSettings .right .list span{ 
			float: left;
			margin: 5px;
			width: 48%;
		}	
		.MOMSettings form .right {
			float: right;
			width: 70%;
		}
		.MOMSettings form .left {
			float: left;
			width: 25%;
		}
		.MOMSettings form.clear:after, 
		.MOMSettings form .clear:after {
			clear: both; 
			content: "";
			display: table;
		}
		.MOMSettings form.clear {
			clear: both; 
			font-size: 95%;
			display: block; 
			margin: 5px 0;
			width: 100%; 
		}
		.MOMSettings form .clear {
			clear: both; 
			display: block; 
			width: 100%; 
		}
		.MOMSettings form.clear input[type="submit"] {
			clear: both; 
			display: block; 
			width: 100%;
		}
		.MOMSettings .right hr {
			clear: both; 
			margin: 35px 0;
		}
		.MOMSettings .left p,
		.MOMSettings .moduleHeader p {
			font-size: 85%;
			margin: 15px;
		}
		.MOMSettings .right p {
			border-top: 1px solid rgba(0,0,0,.1);
			clear: both; 
			font-size: 90%; 
			margin: 5px 0 0;
			padding: 10px 0;
		}
		.MOMSettings .moduleHeader {
			border-bottom: 1px solid rgba(0,0,0,.1);
			clear: both; 
			display: block;
			width: 100%; 
		}
			.MOMSettings .moduleHeader .sectionTitle {
				font-size: 105%;
				font-weight: 900;
				padding: 5px 0;
			}
		.MOMSettings .left {
			display: block; 
			float: left; 
			padding: 5px;
			width: 100px; 
		}
			.MOMSettings .left p {
				color: rgba(0,0,0,.5);
				display: block;
				margin: 10px 0 0;
				padding: 5px 0;
				width: 100%; 
			}
			.config:after {
				clear: both; 
				content: "";
				display: block; 
			}
			.config {
				clear: both; 
				display: block; 
				margin: 5px 0 5px;
				width: 100%; 
			}
			.config i {
				float: right; 
				margin: -16px 2px 0 0;
			}
			.config label {
				width: 100%;
				float: left;
				font-size: 85%;
			}
				.config label:hover,
				.config label:hover ~ i{
					background-color: rgba(0,0,0,.8);
					color: rgba(255,255,255,.8);
				}
			
		.MOMSettings .right {
			border-left: 1px solid rgba(0,0,0,.1);		
			display: block; 
			float: right; 
			padding: 5px; 
			width: 560px;
		}
		.MOMSettings .sectionTitle:after {
			clear: both; 
			content: "";
			display: table;
		}
		.MOMSettings .sectionTitle {
			border-bottom: 1px solid rgba(0,0,0,.1);
			clear: both; 
			display: block;
			margin: 0 0 10px;
			width: 100%; 
		}
		.MOMSettings .textAlignRight {
			text-align: right;
		}
		.hidden {
			display: none;
			visibility: hidden; 
		}