/**
 * [mom_reddit]
 */
.myoptionalmodules-subreddit {
	background-color: #fff;
	border: 1px solid rgba(0,0,0,.1);
	padding: 0 0 20px 0;
	position: relative;
}
	.myoptionalmodules-subreddit a {
		border: none;
		box-shadow: none;
		text-decoration: none;
	}
	.myoptionalmodules-subreddit .title-bar {
		background-color: rgba(0,0,0,.1);
		display: block;
		margin: 0 0 10px;
		padding: 10px;
		text-align: center;
		width: 100%;
	}
		.myoptionalmodules-subreddit .title-bar a {
			display: block;
		}
	.myoptionalmodules-subreddit .fa-reddit {
		background-color: rgba(0,0,0,.1);
		bottom: 0;
		color: rgba(0,0,0,.8);
		font-size: .9rem;
		left: 0;
		padding: 10px;
		position: absolute;
		text-align: center;
		text-transform: uppercase;
		width: 100%;
	}
	.myoptionalmodules-subreddit .inner {
		padding: 10px;
	}
	.myoptionalmodules-subreddit .reddit-item-listing {
		clear: both;
		display: block;
		margin: 10px 0 25px;
		position: relative;
	}
		.myoptionalmodules-subreddit .no-image {
			padding: 1% 1% 1% 8%;
		}
		.myoptionalmodules-subreddit .image {
			padding: 1% 1% 1% 24%;
		}
		.myoptionalmodules-subreddit .nsfw {
			border: 1px solid rgba(0,0,0,.1);
			font-size: .8rem;
			font-weight: 700;
			margin-right: 10px;
			padding: 5px;
			text-align: center;
			text-transform: uppercase;
		}
		.myoptionalmodules-subreddit .stickied {
			border: 1px solid rgba(0,0,0,.1);
		}
		.myoptionalmodules-subreddit .stickied .fa-sticky-note {
			bottom: 5px;
			font-size: .8rem;
			position: absolute;
			right: 5px;
			text-transform: uppercase;
		}
		.myoptionalmodules-subreddit .reddit-item-listing .thumb {
			left: 8%;
			position: absolute;
			top: 5%;
			width: 14%;
		}
		.myoptionalmodules-subreddit .reddit-item-listing .listing-date {
			clear: both;
			display: block;
			font-size: 1rem;
			margin: 5px 0;
		}
		.myoptionalmodules-subreddit .reddit-item-listing .listing-score {
			border: 1px solid rgba(0,0,0,.1);
			font-size: .9rem;
			left: 1%;
			padding: 2px;
			position: absolute;
			text-align: center;
			top: 7%;
			width: 5%;
		}
		.myoptionalmodules-subreddit .reddit-item-listing .listing-title {
			clear: both;
			display: block;
			font-size: 1.5rem;
		}
		.myoptionalmodules-subreddit .reddit-item-listing .listing-title small {
			font-size: .8rem;
		}
		.myoptionalmodules-subreddit .reddit-item-listing .listing-information {
			clear: both;
			display: block; 
			font-size: 1rem;
			margin: 10px 0;
		}

.mom-bold-title {
	font-weight: 700;
	opacity: .6;
}


/**
 * [mom_categories]
 */
.mom_cat-container {
	clear: both;
	display: block;
	font-size: 1rem;
	margin: 20px auto;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 5% 10%;
}
	.mom_cat-container span {
		font-weight: 700;
	}
	.mom_cat-container a,
	.mom_cat-container span {
		border-bottom: 1px solid rgba(0,0,0,0);
		clear: both;
		display: block;
		margin: 5px 0;
	}
	.mom_cat-container a:hover {
		border-bottom: 1px solid rgba(0,0,0,.1);
	}
	.mom_cat-containers {
		float: left;
		padding: 10px 10px 20px;
		width: 25%;
	}


/**
 * Embeds
 */
.media-embed {
	margin: 5px auto;
	padding: 5px;
}
	.imgur-image {
		height: auto;
		max-width: 100%;
	}
	.imgur-album {
		border: none;
		height: 550px;
		width: 100%;
	}
	.soundcloud-embed {
		height: 166px;
		overflow: hidden;
		width: 100%;
	}
	.vimeo-embed {
		border: none;
		height: 281px;
		width:100%;
	}
	.vine-embed {
		border: none;
		height: 600px;
		width: 600px;
	}


h2.mom_related_title{ 
	border-top: 1px solid rgba(0,0,0,.1);
	clear: both; 
	font-size: 95%; 
	margin: 25px auto 0; 
	padding:15px 0 0; 
}

.mom_shareLinks {
	display: block;
	float: right;
	margin: 0;
	padding: 25px 5px;
	text-align: right;
	width: 100%;
	z-index: 99;
}
.mom_shareLinks span {
	margin: 10px;
}
.mom_shareLinks a{
	border: none;
	margin: 5px 5px 5px 0;
	padding: 15px 25px;
	text-align: center;
	text-decoration: none; 
	width: auto;
}
.mom_shareLinks .facebook:hover {
	color: #3e5a93;
}
.mom_shareLinks .twitter:hover {
	color: #55acee;
}
.mom_shareLinks .google:hover {
	color: #d54334;
}
.mom_shareLinks .email:hover {
	color: #0a2a45;
}
.mom_shareLinks .reddit:hover {
	color: #cee3f8;
}

/* Tiled */
/**
 * Proper sizing for all elements of this plugin.
 */
.loopdeloopNavigation *:before, 
.loopdeloopNavigation *:after, 
.loopdeloopNavigation * {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.loopdeloopNavigation:after,
.loopdeloopRotation:after { 
	clear: both;
	content: "";
	display: block;
}
.loopdeloopNavigation { 
	clear: both;
	display: block;
	margin: 5px auto;
	padding: 5px;
	text-align: center;
}

/**
 * MOM_Miniloop
 */
.loopdeloopNavigation a { 
	padding: 5px; 
}
.loopdeloopRotation {
	clear: both;
	display: block;
	margin: 25px auto;
}

/**
 * [style="tiled"]
 */
.loopdeloop_tiled {
	display: block; 
	margin: 25px auto;
	max-width: 100%;
	padding:0;
}
.loopdeloop_tiled .mediaEmbed {
	border-bottom: none;
	bottom: 0;
	clear: both;
	display: block;
	height: 100%;
	left: 0;
	overflow: hidden;
	padding: 0 0 5px;
	position: absolute;
	top: 0;
	width: 100%;
}
.loopdeloop_tiled .thumbnailFull {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background: no-repeat center center fixed;
	background-size: cover;
	border: 1px solid rgba(0,0,0,.1);
	display: block;
	height: 100%;
	margin: 0;
	overflow: hidden;
	position: relative;
	width: 100%;
}
.loopdeloop_tiled .thumbnailFull:hover {
	-webkit-box-shadow:inset 0 0 5px 1px rgba(0,0,0,.2);
	box-shadow:inset 0 0 5px 1px rgba(0,0,0,.2);
}
.loopdeloop_tiled .feature {
	clear: both;
	height: 400px;
	margin: 0;
	width: 100%;
}
.loopdeloop_tiled .second {
	height: 300px;
	width: 100%;
}
.loopdeloop_tiled .second .thumbnailFull:nth-child(1) {
	float: left;
	height: 100%;
	width: 50%;
}
.loopdeloop_tiled .second .leftSmall a {
	padding: 25%;
}
.loopdeloop_tiled .secondThird {
	float: right;
	height: 100%;
	width: 50%;
}
.loopdeloop_tiled .secondThird a {
	padding: 5%!important;
}
.loopdeloop_tiled .secondThird .thumbnailFull {
	height: 150px!important;
	clear: both;
	width: 100%!important;
}
.loopdeloop_tiled .thumbnailFull a.mediaNotPresent {
	clear: both;
	display: block;
	font-size: 150%;
	font-weight: 900;
	height: 100%;
	left: 0;
	opacity: .3;
	position: absolute;
	padding: 15%;
	text-align: center;
	text-decoration: none;
	text-shadow: none;
	top: 0;
	width: 100%;
}
.loopdeloop_tiled .thumbnailFull a:hover {
	opacity: 1;
	text-shadow:  0 0 1px rgba(0,0,0,.9);
}

/**
 *  [style="slider"]
 */
.loopdeloop_slideContainer .fa-arrow-up {
	clear: both;
	display: block;
	font-size: 45%; 
	text-align: center;
	width: 100%;
}
.loopdeloop_slideContainer {
	-webkit-box-shadow:inset 0 0 5px 1px rgba(0,0,0,.2);
	border: 1px solid rgba(0,0,0,.9);
	box-shadow: inset 0 0 5px 1px rgba(0,0,0,.2);
	height: 300px;
	margin: 0 auto;
	max-width: 500px;
	overflow-y: hidden;
	overflow-x: auto;
	position: relative;
}
.loopdeloop_slideContainer .slide {
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background: no-repeat center center fixed;
	background-size: cover;
}
.loopdeloop_slideContainer .inner .slide {
	display: block;
	float: left;
	height: 300px;
	position: relative;
	width: 500px;
}
.loopdeloop_slideContainer .inner .slide img {
	height: 100%;
}
.loopdeloop_slideContainer .inner .slide span {
	left: 0;
	font-size: 200%;
	font-weight: 900;
	padding: 20%;
	position:absolute;
	text-align: center;
	top: 0;
	width: 100%;
}

/**
 * [style="columns"]
 */
.loopdeloop_columns .fa-arrow-up {
	background-color: rgba(0,0,0,.8);
	color: rgba(255,255,255,.8);
	cursor: default;
	font-size: 65%;
	padding: 5px;
	position: absolute;
	right: 5px;
	top: 5px;
}
.loopdeloop_columns .column {
	border: 1px solid rgba(0,0,0,.1);
	border-radius: 2px;
	display: block;
	float: left;
	height: 150px;
	margin: 0 0 12px 2%;
	overflow: hidden;
	position:relative;
	width: 48%;
}
.loopdeloop_columns .mediaNotPresent {
	display:block;
	height: 100%;
	width: 100%;
}
.loopdeloop_columns .column .inner {
	-moz-background-size:cover;
	-o-background-size:cover;
	-webkit-background-size:cover;
	-webkit-box-shadow:inset 0 0 5px 1px rgba(0,0,0,.2);
	background:no-repeat center center fixed;
	background-color: rgba(0,0,0,.1);
	background-size:cover;
	box-shadow:inset 0 0 5px 1px rgba(0,0,0,.2);
	height: 100%;
}
.loopdeloop_columns .column span {
	-moz-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	-webkit-transition:all .3s ease-in-out;
	background-color: rgba(0,0,0,.8);
	bottom: 0;
	margin-bottom: -100%;
	padding:5px;
	position: absolute;
	transition:all .3s ease-in-out;
	width: 100%;
}
.loopdeloop_columns .column span em{
	display: none;
	visibility:hidden;
}
.loopdeloop_columns .column:hover span{
	margin-bottom: 0;
}
.loopdeloop_columns .column:hover span em{
	clear: both;
	color: rgba(255,255,255,.8);
	display: block;
	padding: 5px;
	font-size: 75%;
	visibility: visible;
}
.loopdeloop_columns .column span a{
	color: rgba(255,255,255,.8);
	font-size: 75%;
	text-decoration: none;
}

/**
 * [style="list"]
 */
.loopdeloop_list {
	margin: 25px auto;
	padding: 5px; 
}
.loopdeloop_list .fa-arrow-up {
	font-size: 75%; 
	margin-left: 10px;
}
.loopdeloop_list section:after {
	clear: both;
	content: "";	
	display: block;
}
.loopdeloop_list section {
	clear: both;
	margin: 5px auto 10px;
	padding: 5px 0; 
	width: 100%;
}
.loopdeloop_list section div {
	cursor: default;	
}
.loopdeloop_list section div.counter {
	float: left;
	font-size: 65%;
	margin: 1px 0 5px;
	padding: 12px;
	text-align: center;
	width: 10%;
}
.loopdeloop_list section div.thumb {
	float: left;
	margin: 1px 0 5px;
	padding: 5px 5px 5px 0;
	width: 10%;
}
.loopdeloop_list section div.text {
	float: left;
	width: 80%;
	margin: 0; 
}
.loopdeloop_list section span {
	clear: both;
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 100%; 
}
.loopdeloop_list section span a {
	text-decoration: none;	
}
.loopdeloop_list section span.title {
	font-size: 100%; 
}
.loopdeloop_list section span.author {
	font-size: 80%; 
}
.loopdeloop_list section span.meta {
	font-size: 70%; 
}
.loopdeloop_list section img {
	width: 100%; 
}
.loopdeloop_list .sidebar section:after {
	clear: both;
	display: block;
	content: ""; 
}
.loopdeloop_list .sidebar {
	border-bottom: 1px solid rgba(0,0,0,.1);
	padding: 5px;
}
.loopdeloop_list .sidebar section {
	clear: both;
	margin: 5px auto 10px;
	padding: 5px; 
	width: 100%;
}
.loopdeloop_list .sidebar section div {
	cursor: default; 
}
.loopdeloop_list .sidebar img {
	height: auto; 
	width: 100%; 
}
.loopdeloop_list .sidebar div.thumb {
	float: right;
	margin: 0;
	padding: 1%;
	width: 40%;
}
.loopdeloop_list .sidebar div.counter {
	color: rgba(0,0,0,.3);
	float: left; 
	font-size: 200%;
	font-weight: 900;
	margin: 0;
	width: 10%;
}
.loopdeloop_list .sidebar div.text {
	float: left;
	margin: 0 2%; 
	padding: 0 10px 0 20px;
	width: 40%;
}
.loopdeloop_list .sidebar span {
	clear: both;
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 98%; 
}
.loopdeloop_list .sidebar span a {
	text-decoration: none; 
}

/* [style='blurbs'] */
.loopdeloop_blurbs {
	display: block;
	margin: 0 auto 75px;
	padding: 0;
	position: relative;
}
	.loopdeloop_blurbs .blurb {
		background-color: rgba(255,255,255,.5);
		border: 1px solid rgba(0,0,0,.1);
		clear: both;
		display: block;
		margin: 25px 0;
		padding: 30px;
	}
	.loopdeloop_blurbs div div {
		border: 0px;
		margin: 10px 0;
		padding: 0;
	}
	.loopdeloop_blurbs blockquote {
		margin: 75px auto;
	}
	.loopdeloop_blurbs .title {
		border-bottom: 1px solid rgba(0,0,0,.1);
		display: inline; 
		font-size: 115%;
		margin-right: 5px;
	}
	.loopdeloop_blurbs .content {
		display: inline; 
		margin-right: 10px;
	}

/* Various */
.clearboth{
	clear:both;
}
.hidden{
	display: none;
	height: 0;
	visibility: hidden;
	width: 0;
}

/* 
 * Horizontal Galleries
 */
.close-mom-gallery-image {
    background-color: rgba(0, 0, 0, .8);
    color: rgba(255, 255, 255, .8);
	cursor: pointer;
	display: block;
    padding: 15px;
    position: relative;
    width: 100%;
}
.horizontalGallery { 
	display: block; 
	height: auto; 
	margin: 10px auto; 
	max-height: 550px; 
	max-width: 100%; 
	overflow-x: auto; 
	overflow-y: hidden; 
	position: relative; 
	width: 100%;
}
	.horizontalGallery .gallery-item .wp-caption-text, .horizontalGallery p { 
		display: none; 
		height: 0; 
		margin: 0; 
		padding: 0; 
		visibility: hidden; 
		width: 0; 
	}
	.horizontalGallery .gallery-item { 
		clear: none; 
		float: left; 
		margin: -2px 0; 
		max-height: 150px; 
		max-width: 150px; 
		padding:0; 
		width: auto; 
	}
	.horizontalGallery .gallery-item img { 
		height: auto; 
		width: 100%;  
	}
	.hgallery-loaded {
		width: 100%; 
		height: auto;
	}

.mom_attachments {
	clear: both; 
	display: block; 
	position: relative;
}
	.mom_attachment img{
		height: auto;
		width: 100%;
	}

/*
 * Youtube
 */
.mom-youtube-content-div {
	max-width: 100%;
	overflow: hidden; 
	position:relative;
}
.mom-youtube-play-button {
	color: #fff;
	background-color: #000;
	display:none;
	visibility:hidden;
	position:absolute;
	z-index:2;
	width:auto;
	text-align:left;
	top:0;
	left:0;
	cursor:pointer;
	padding: 10px;
	font-size: 85%;
}
.mom-youtube-thumbnail {
	cursor: pointer;
	display:none;
	max-width: 100%;
	visibility:hidden;
}

/**
 * Catalog
 */
.mom_catalog_display {
	clear: both;
	display: block;
	padding: 5px 0; 
}
.mom_catalog_display .count {
	opacity: .7;
	font-size: 90%;
	font-weight: normal;
}
.mom_catalog_display span {
	display: inline;
	margin: 0 10px 0 0;
}

/**
 * Charts
 */
.rating:before,
.rating:after {
	clear: both;
	display: block;
}
	.rating {
		background-color: #fff;
		border: 1px solid rgba(0,0,0,.1);
		clear: both;
		display: block;
		margin: 10px 0 20px;
		padding: 10px;
		overflow-x: hidden;
		overflow-y: auto;
		position: relative;
		width: 100%;
	}
	.rating div {
		clear: both;
		display: block;
		margin: 0 0 10px;
		overflow-x: hidden;
		overflow-y: auto;
		padding: 5px 0;
		position: relative;
	}
		.rating div span {
			clear: both;
			display: block;
			font-size: 75%!important;
			padding: 5px 5px 10px;
		}
		.rating div em {
			background-color: #fff;
			float: left;
			padding:0 5px;
			position: relative;
			z-index: 2;
		}
		.rating div strong {
			background-color: #fff;
			float: right;
			padding:0 10px;
			position: relative;
			z-index: 2;
		}
		.rating div hr {
			margin: 0;
		}
.progress-bar {
	width: 100%;
	height: 100%!important;
	-webkit-box-shadow:inset 0 -1px 0 rgba(0,0,0,.15);
	box-shadow:inset 0 -1px 0 rgba(0,0,0,.15);
	-webkit-transition:width .6s ease;
	-o-transition:width .6s ease;
	top: 0;
	left: 0;
	display: block;
	transition:width .6s ease;
	position: fixed; 
	z-index: 0!important;
}

@media screen and (max-width: 55.250em) {
.mom_cat-container {
	clear: both;
	display: block;
	font-size: 1rem;
	margin: auto;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 4.5454% 9.0909%;
}
	.mom_cat-container span {
		clear: both;
		display: block;
		margin: 5px 0;
	}
	.mom_cat-containers {
		width: 33%;
	}
}

@media screen and (max-width: 31.250em ) {
.mom_cat-container {
	clear: both;
	display: block;
	font-size: 1rem;
	margin: auto;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 10px 35px;
}
	.mom_cat-container span {
		clear: both;
		display: block;
		margin: 5px 0;
	}
	.mom_cat-containers {
		width: 50%;
	}
}

@media screen and (max-width: 21.250em ) {
.mom_cat-container {
	clear: both;
	display: block;
	font-size: 1rem;
	margin: auto;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 10px;
}
	.mom_cat-container span {
		clear: both;
		display: block;
		margin: 5px 0;
	}
	.mom_cat-containers {
		width: 100%;
	}
}