	/* Passwords */
	input[type='text'].password { width:95%; margin:10px auto;}
	/* Navbar */
	div.momnavbar{cursor:pointer;text-transform:uppercase;width:100%;height:40px;display:block;background-color:#fff;text-indent:5px;font-size:10px;padding:0 0 2px 0;overflow:hidden;line-height:13px;z-index:999;border-bottom:1px solid #000;}
	div.momnavbar div{width:100%;display:block;overflow:hidden;height:15px;border-top:1px solid #000;position:relative;}
	div.momnavbar ul{width:85%;margin:3px 0 !important;position:absolute !important;top:0 !important;left:0 !important;padding:0px !important; border:none !important;}
	div.momnavbar ul li{float:left !important;display:block !important;width:auto !important;margin:0 5px auto !important;list-style:none !important;padding:0px !important;}
	div.momnavbar .navbar_social{width:95px !important;position:absolute !important; right: 0px !important; top: 17px !important;text-align:right !important;border-top:none;font-size:15px !important;border-left:1px solid #000 !important;padding:4px 5px 0 !important;height:22px !important;background-color:#f0f8ff;}
	div.momnavbar .navbar_social a{float:right;margin:0 5px 0 5px;}
	div.momnavbar span{float:right !important;margin:0 5px 0 !important;padding:0px !important;}
	div.momlistcategories{clear:both;margin:25px auto;width:95%;}
	div.momlistcategories h4{margin:55px 0 25px 0;}
	div.momlistcategories div{padding:5px;clear:both;overflow:hidden;width:100%;margin:5px auto;}
	div.momlistcategories div:hover{height:auto;overflow-y:auto;overflow-x:hidden;border:1px solid #454343;background-color:#f7f7f7;}
	div.momlistcategories span{float:right;}
	div.momlistcategories section{clear:both;margin:5px auto;width:100%;font-size:14px;}
	div.momlistcategories section article{clear:both;margin:0 auto;width:100%;font-size:15px;line-height:18px;}
	.navbartop,.stucktothetop{position:fixed !important;top:0 !important;left:0 !important;z-index:99999 !important;}
	.navbarbottom,.stucktothetop{position:fixed !important;bottom:0 !important;left:0 !important;z-index:99999 !important;}	
	/* Heading List */
	.scrolltotop{position:fixed;right:10px;bottom:10px;z-index:99999;display:none;visibility:hidden;}
	.show{visibility:visible;display:block;}
	.hidden{display:none;visibility:hidden;}
	span#createalisttog,span#createalisttogd{margin:0 auto;cursor:pointer;}
	div.createalist_listitems{margin:15px auto 10px 15px;text-indent:15px;}
	/* On this day*/
	#mom_onthisday{font-size:12px;padding:5px;border:1px solid #eee;display:block;width:250px;background-color:#fcfcfc;margin:30px auto;}
	#mom_onthisday span.onthisday{padding:10px;display:block;clear:both;border:1px solid #eee;background-color:#fff;margin:-20px auto 0 auto;width:auto;text-transform:lowercase;font-size:20px;text-align:center;}
	#mom_onthisday section.mom_onthisday{clear:both; width:100%;margin:0 auto 0 -5px;padding:5px;overflow:hidden;cursor:pointer;height:40px;overflow:hidden;}
	#mom_onthisday section.mom_onthisday:hover{background-color:#fff;}
	#mom_onthisday section.mom_onthisday a {display:block;width:100%;height:100%;}
	#mom_onthisday section.mom_onthisday div.mom_onthisday {width:95%;margin:0 auto 0 -5px;padding:5px;clear:both;display:block;overflow:hidden;}
	#mom_onthisday section.mom_onthisday div.mom_onthisday span.title{float:left;text-align:left;display:block;width:80%;}
	#mom_onthisday section.mom_onthisday div.mom_onthisday span.theyear {float:right;text-align:right;display:block;width:10%;margin:5px 0;}
	#mom_onthisday section.mom_onthisday div.mom_onthisday section.nothing{text-align:center;color:#bcbcbc;}