	/* Navbar */
	div.momnavbar{cursor:pointer;text-transform:uppercase;position:absolute;top:0;left:0;width:100%;height:30px;display:block;background-color:#fff;text-indent:5px;font-size:10px;padding:3px 0 2px 0;overflow:hidden;line-height:13px;z-index:999;}
	div.momnavbar div{width:100%;display:block;overflow:hidden;height:15px;border-bottom:1px solid #000;position:relative;}
	div.momnavbar ul{width:100%;margin:0 auto !important;position:absolute !important;top:0 !important;left:0 !important;padding:0px !important; border:none !important;}
	div.momnavbar ul li{float:left !important;display:block !important;width:auto !important;margin:0 5px auto !important;list-style:none !important;padding:0px !important;}
	div.momnavbar span{float:right !important;margin:0 5px 0 !important;padding:0px !important;}
	div.momlistcategories{clear:both;margin:25px auto;width:95%;}
	div.momlistcategories h4{margin:55px 0 25px 0;}
	div.momlistcategories div{padding:5px;clear:both;overflow:hidden;width:100%;margin:5px auto;}
	div.momlistcategories div:hover{height:auto;overflow-y:auto;overflow-x:hidden;border:1px solid #454343;background-color:#f7f7f7;}
	div.momlistcategories span{float:right;}
	div.momlistcategories section{clear:both;margin:5px auto;width:100%;font-size:14px;}
	div.momlistcategories section article{clear:both;margin:0 auto;width:100%;font-size:15px;line-height:18px;}
	.stucktothetop{position:fixed !important;top:0 !important;left:0 !important;z-index:99999 !important;}
	/* Heading List */
	.scrolltotop{position:fixed;right:10px;bottom:10px;z-index:99999;display:none;visibility:hidden;}
	.show{visibility:visible;display:block;}
	.hidden{display:none;visibility:hidden;}
	span#createalisttog,span#createalisttogd{margin:0 auto;cursor:pointer;}
	div.createalist_listitems{margin:15px auto 10px 15px;text-indent:15px;}